PORT=8000
MONGODB_URL=mongodb+srv://pcrahul702:bbOSOosIwVRzOHVP@cluster0.lgsmb.mongodb.net
ACCESS_TOKEN_SECRET=123efdshfdbhcbbbvdmdHFDV
ACCESS_TOKEN_EXPIRE=1d
REFRESH_TOKEN_SECRET=2FKKNB7890009bb
REFRESH_TOKEN_EXPIRE=10d
